on:
  push:
    tags:
      - "*"
name: Create Release
jobs:
  create-release:
    name: Pack solution and create release
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - id: pack-solution
        name: Pack solution
        uses: microsoft-power-platform-ce/actions/pack-solution@main
      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ steps.pack-solution.outputs.solution-file }}
